doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    //link(href='/favicon.ico', rel='shortcut icon', type='image/x-con')
  body
      h1 Hello World
    block content